/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}
.navbar-brand {
    font-family: Fredoka One;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 70px;
    background-color: transparent;
    margin-right: 10px;
    margin-left: 5px;
}
.gradient-border {
    --borderWidth: 3px;
    background: white;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }  
.nav-link {
    margin-right: 20px;
}

.tombol {
    border-radius: 10px;

}

/* Jumbotron */
.jumbotron{
    background-image: url(img/jumbo.jpg);
    background-size: cover;
    height: 560px;
    text-align: left;
    position: relative;
}
.jumbotron .container {
    z-index: 1;
    position: relative;
}
.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}
.jumbotron .display-4 {
    font-family: Tw Cen MT;
    color: white;
    text-align: left;
    margin-top: 150px;
    text-shadow: 1px 1px 1px  rgba(0, 0 , 0, 0.7);
}
.jumbotron .display-4 p {
    font-size: 80%;
}
.jumbotron .display-4 span {
    font-weight: bold;
}

/* Highlight */



/* info panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -60px;
    background-color: white;
    padding: 30px;
}
.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.info-panel h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}
.info-panel p {
    font-size: 14px;
    color: gray;
    margin-top: -5px;
}
/* follow panel */
.follow-panel {
    position: relative;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -360px;
    margin-left: 90%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: min-content;
    
}
.follow-panel img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
}

/* Desktop */
@media (min-width: 992px) {
    /* Navbar */
    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px  rgba(0, 0 , 0, 0.7);
    }
    .gradient-border {        
    background: #1D1F20;
    }
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #007bff;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .tombol {
        color: white;
    }
    .tombol svg {
        margin-bottom: 4px;
    }

    /* Jumbotron */
    .jumbotron {
        margin-top: -90px;
    }


}
